/* 调整正文文字样式 */
body {
    font-size: 18px;       /* 默认 16px，可以改大一些 */
    line-height: 1.8;      /* 行间距（默认 1.4 左右） */
    letter-spacing: 0.05em; /* 字间距，0.05em ~ 0.1em 比较合适 */
}

/* 让段落更舒服 */
/* 只针对正文段落 <p> */
p {
    font-size: 25px;      /* 字体大小，默认16，可以改大 */
    line-height: 2;     /* 行间距，1.6~1.8 比较舒服 */
    letter-spacing: 0.05em; /* 字间距，稍微拉开 */
    margin-bottom: 1em;   /* 段落间距 */
}



/* 行内代码，例如 `inline code` */
/* 代码整体字体大小和粗细 */
code.hljs, pre code.hljs {
    font-size: 20px;       /* 字体大一点 */
    line-height: 1.6;      /* 增加行距，避免挤 */
}
